/*
 * Corne 42 - ZMK Keymap
 *
 * macOS-optimized layout with GACS home row mods.
 * Designed for Neovim, Android Studio (IntelliJ), and CLI workflows.
 *
 * GACS home row mods (left hand only, pinky to index):
 *   A=Gui  S=Alt  D=Ctrl  F=Shift
 * Right hand is plain keys for Vim hold-to-repeat (j/k).
 *
 * Layers:
 *   0 BASE   - QWERTY + home row mods
 *   1 LOWER  - Numbers (row) + Vim-style nav (HJKL arrows)
 *   2 RAISE  - Symbols + brackets
 *   3 ADJUST - F-keys, Bluetooth, media (tri-layer: LOWER+RAISE)
 *
 * Thumb cluster:
 *   Left:  GUI/ESC | LOWER/TAB | BSPC
 *   Right: ENTER | RAISE/SPACE | RGUI
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#ifdef CONFIG_ZMK_RGB_UNDERGLOW
#include <dt-bindings/zmk/rgb.h>
#endif

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/ {
    behaviors {
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        adjust_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |  `   |
// | LCTL | A/G | S/A | D/C | F/S |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | LSFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | RSFT |
//                     |  GUI    | LWR/TAB | BSPC |   | ENT | RSE/SPC | RGUI |
            bindings = <
    &kp ESC   &kp Q      &kp W      &kp E       &kp R       &kp T       &kp Y  &kp U       &kp I       &kp O      &kp P         &kp GRAVE
    &kp LCTRL &hm LGUI A &hm LALT S &hm LCTRL D &hm LSHFT F &kp G       &kp H  &kp J       &kp K       &kp L      &kp SEMI      &kp SQT
    &kp LSHFT &kp Z      &kp X      &kp C       &kp V       &kp B       &kp N  &kp M       &kp COMMA   &kp DOT    &kp FSLH      &kp RSHFT
                                     &kp LGUI    &lt LOWER TAB &kp BSPC   &kp RET &lt RAISE SPACE &kp RGUI
            >;
        };

        lower_layer {
// -----------------------------------------------------------------------------------------
// |  `   |  1  |  2  |  3  |  4  |  5  |   |  6  |  7   |  8   |  9   |  0  | DEL  |
// |      | GUI | ALT | CTL | SFT |     |   | LFT | DWN  |  UP  | RGT  |     |      |
// |      |BACK | FWD | T-L | T-R |     |   | HOM | PGDN | PGUP | END  |     |      |
//                     |     |     |     |   |     |      |      |
            bindings = <
    &kp GRAVE &kp N1       &kp N2       &kp N3          &kp N4          &kp N5      &kp N6   &kp N7    &kp N8    &kp N9    &kp N0 &kp DEL
    &trans    &kp LGUI     &kp LALT     &kp LCTRL       &kp LSHFT       &none       &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &none  &none
    &trans    &kp LG(LBKT) &kp LG(RBKT) &kp LG(LS(LBKT)) &kp LG(LS(RBKT)) &none       &kp HOME &kp PG_DN &kp PG_UP &kp END   &none  &none
                                &trans    &trans    &trans      &trans   &trans    &trans
            >;
        };

        raise_layer {
// -----------------------------------------------------------------------------------------
// |  ~   |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |  ~   |
// |      |     | ALT | CTL | SFT |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// |      |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                     |     |     |     |   |     |     |     |
            bindings = <
    &kp TILDE &kp EXCL &kp AT   &kp HASH  &kp DLLR  &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp TILDE
    &trans    &trans   &kp LALT &kp LCTRL &kp LSHFT &none       &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
    &trans    &none    &none    &none     &none     &none       &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                                &trans    &trans    &trans      &trans    &trans    &trans
            >;
        };

        adjust_layer {
// -----------------------------------------------------------------------------------------
// |  F1  | F2  | F3  | F4  | F5  | F6  |   | F7  |  F8  |  F9  | F10 | F11 | F12  |
// | BT0  | BT1 | BT2 | BT3 | BT4 |BTCLR|   | TOG | HUI  | SAI  | BRI | EFF |      |
// |      |     |     |     |     |     |   |     | HUD  | SAD  | BRD |     |      |
//                     |     |     |     |   |     |      |      |
            bindings = <
    &kp F1       &kp F2       &kp F3       &kp F4       &kp F5       &kp F6
    &kp F7       &kp F8       &kp F9       &kp F10      &kp F11      &kp F12
    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
#ifdef CONFIG_ZMK_RGB_UNDERGLOW
    &rgb_ug RGB_TOG &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_BRI &rgb_ug RGB_EFF &none
#else
    &none           &none           &none           &none           &none           &none
#endif
    &none        &none        &none        &none        &none        &none
#ifdef CONFIG_ZMK_RGB_UNDERGLOW
    &none        &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_BRD &none           &none
#else
    &none        &none           &none           &none           &none           &none
#endif
                                           &trans       &trans       &trans
                                           &trans       &trans       &trans
            >;
        };
    };
};
